*{

}
body{

}
.nav-menu{
	background-color: #f8f9fa;
	

}
.logo-img{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.support-content{
	background-color: #1DA1F2 !important;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 70%;
	border-radius: 3px;
	overflow: hidden;
}
.support-content p{
	margin:10px;
	color: #fff;
	font-weight: 400;
	
}
.clock{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	height: 70%;

}
.clock p{
	color: #1DA1F2 !important;
	font-weight: 500;
	margin-left: 30px;

}
.btn-nav{
	width: 150px;
}

.btn-nav-1{
	width: 100px;
}
.nav-menu-btns{
	margin-top: 20px;
	margin-left: 30%;
}

marquee {
    text-indent:-100px;
    width:500px;
}

.support-left{
	text-align:right !important;
}
.main-content{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.side-menu-item{
 background-color: #1DA1F2 !important;
 margin-bottom: 5px;
 height: 60px;
 margin-top: 

}
.menu-content{
	padding-top: 20px;
	padding-left: 7px;
	color: #fff;
	list-style: none;
	font-weight: 500;

}
.menu-content > i{
	font-size: 20px;
}
.post-homework{
	background-color:#f8941d;
	text-align: center;
	height: 40px;
	border-radius: 7px;
	color: #fff;
	font-weight: 500;
	margin:auto;
	padding: 10px;
}
.center-btn{
	margin-top: 10px;

}
.btn-center{
	width: 375px;
	background-color:;

}
.btn-center-1{
	width: 375px;
	margin-left: 20px;
}
.logs{
	margin-top: 10px;
}
.logs-header{
	text-align: center;
	color: #fff;
	 background-color: #1DA1F2;
}

ul.bordered-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}
ul.bordered-list > li {
    border-bottom: 1px solid rgb(221,221,221);
    padding: 6px;
}
ul.bordered-list > li:nth-of-type(odd) {
    background-color: #e9e9f9 ;
}
ul.bordered-list > li:last-child {
    border-bottom: none;
}
.bordered-list{
	text-align: center;
}

.side-panel2{
	margin-top: 10px;
}
.side-panel1{
	border:1px #1DA1F2 solid;
	border-radius: 10px;

}
.side-header{
	background-color:#1DA1F2;
	color: #fff;
}
.list-group-item {
    display: list-item !important;
}

.list-group-item1 {
   /* position: relative;*/
    /*display: block;*/
    padding: 0.002rem 0.25rem;
    background-color: #fff;
    margin-left: 3px;
   /* border: 1px solid rgba(0,0,0,.125);*/
}
.menu-content a{
	color: #fff;
	text-decoration: none;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#e9e9f9;
  height: 1px;
}

ol.list-group-numbered {
   
    margin: 0;
    padding: 0;
   
}
ol.list-group-numbered > li {
    border-bottom: 1px solid rgb(221,221,221);
    padding: 6px;
}
ol.list-group-numbered > li:nth-of-type(odd) {
    background-color: #e9e9f9 ;
    width: 100%;
}
ol.list-group-numbered > li:last-child {
    border-bottom: none;
}
.side-header2{
	background-color: #F3C8E0;
	color: #E06F76;
}

.side-header2 >span{
	color: #E06F76;
}

.top-up-bar{
	background-color: #D1F6EC;
	height: 250px;
	border-radius: 4px;
	width: 250px;
}
.top-up-form{
	width: 240px;
	align-items: center;
	padding: 20px;
	padding-left: 30px;

}
.load-money{
	font-weight: 600;
	color: #848484;
}
.pay-p{
	font-weight: 500;
	color: #848484;
	margin-left: 7px;

}
 input[type=radio] {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.load-btn-sbm{
	color: #fff;
	text-align: center;
	font-weight: 700;
	height: 35px;
	width:130px;
	background-color:

}
.bal-h5{
	font-weight: 700;
	color: #304965;
}
.bal-content{
	display: flex;
}

.vl {
  border-left: 2px solid green;
  height: 15px;
  margin-top: 7px;
  margin-right: 15px;
  margin-left: 15px;
}
.balance-aside{
	margin-left: 50px;
}
.bl-available{
	color: #848484;

}
.bl-available >span{
	color: black;

}
.card-h{
	color: #fff;
	 background-color: #367fd3;
}
.btn-warning{
	color: #fff !important;
}
.paypal-tutor{

	width:500px;

}
.paypal-tutor-p{
	text-align: center;

}
.btn-primary{
	background-color: #367fd3 !important;
}
.tip-h5{
	color: #09E7FB;
	font-weight: 700;

}
.n-h5{
	font-weight: 700;

}
.p-grade{
	font-weight: 700;

}
.td-data{
	font-weight: 700;

}
.td-h4{
	font-weight: 700;
}


@media only screen and (max-width: 768px) {
.btn-center-1{
	width: 100% !important;
	margin-left: 0px;
	margin-top: 5px;
}
.btn-center{
	width: 100% !important;
	margin-left: 0px;
	margin-top: 5px;
}
.nav-menu-btns{
	
	margin-left: 4%;

}
.clock p{
	font-weight: 200;
	margin-left: 0px;

}
.clock{
	width: 90px;
}
.btn-nav-1{
    padding: 0.175rem 0.15rem;
   
}
.btn-nav{
    padding: 0.175rem 0.15rem;
    width: 120px;
   
}
.btn-nav-1{
    padding:;
    width: 80px;
   
}
.top-up-bar
{
	width: 100%;

}
.top-up-form{
	width: 100%;

}
.balance-aside{
	margin-left: 0px !important;
}


}
@media (max-width: 1199px){
	.btn-center-1{
	width: 100% !important;
	margin-left: 0px;
	margin-top: 5px;
}
.btn-center{
	width: 100% !important;
	margin-left: 0px;
	margin-top: 5px;
}
.nav-menu-btns{
	
	margin-left: 4%;

}
.clock p{
	font-weight: 200;
	margin-left: 0px;

}
.clock{
	width: 90px;
}
.btn-nav-1{
    padding: 0.175rem 0.15rem;
   
}
.btn-nav{
    padding: 0.175rem 0.15rem;
    width: 120px;
   
}
.btn-nav-1{
    padding:;
    width: 80px;
   
}
.top-up-bar
{
	width: 100%;

}
.top-up-form{
	width: 100%;

}
.balance-aside{
	margin-left: 0px !important;
}

}





